<!--<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!--질문 -->
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <!-- 질문내용 -->
            <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
            <div class="d-flex justify-content-end">
                <!-- 질문수정일시 -->
                <div th:if="${question.modifyDate != null}"
                    class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <!-- 글쓴이 -->
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                    </div>
                    <!-- 질문작성일시 -->
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <!-- 질문 추천/수정/삭제 버튼 -->
            <div class="my-3">
                <a href="javascript:void(0);"
                	th:data-uri="@{|/question/vote/${question.id}|}"
                    class="recommend btn btn-sm btn-outline-secondary">
                    추천 
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                </a>
                <a th:href="@{|/question/modify/${question.id}|}"
                    class="btn btn-sm btn-outline-secondary"
                    sec:authorize="isAuthenticated()"
                    th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                    th:text="수정">
                </a>
                <a href="javascript:void(0);"
                    th:data-uri="@{|/question/delete/${question.id}|}"
                    class="delete btn btn-sm btn-outline-secondary"
                    sec:authorize="isAuthenticated()"
                    th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                    th:text="삭제">
                </a>
            </div>
        </div>
    </div>
    <!--답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer, loop : ${paging}">
        <a th:id="|answer_${answer.id}|"></a>
        <div class="card-body">
            <!-- 답변내용 -->
            <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
            <div class="d-flex justify-content-end">
                <!-- 답변수정일시 -->
                <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>

                <div class="badge bg-light text-dark p-2 text-start">
                    <!-- 글쓴이 -->
                    <div class="mb-2">
                        <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                    </div>
                    <!-- 답변작성일시 -->
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <!-- 답변 수정/삭제 버튼 -->
            <div class="my-3">
                <a href="javascript:void(0);" th:id="${answer.id}" class="comment btn btn-sm btn-outline-secondary"
                    th:data-uri="@{|/answer/vote/${answer.id}/${paging.number}|}">
                    댓글
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.commentList)}"></span>
                </a>
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                    th:data-uri="@{|/answer/vote/${answer.id}/${paging.number}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                </a>
                <a th:href="@{|/answer/modify/${answer.id}/${paging.number}|}"
                    class="btn btn-sm btn-outline-secondary"
                    sec:authorize="isAuthenticated()"
                    th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                    th:text="수정">
                </a>
                <a href="javascript:void(0);"
                    th:data-uri="@{|/answer/delete/${answer.id}/${paging.number}|}"
                    class="delete btn btn-sm btn-outline-secondary"
                    sec:authorize="isAuthenticated()"
                    th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                    th:text="삭제">
                </a>
            </div>
            <!-- 댓글 반복 시작 -->
            <div class="mt-2" style="font-size: 0.9em;">
                <div class="comment py-2 text-muted" th:each="comment : ${answer.commentList}">
                    <span class="text-danger small ms-2"
                        th:if="${#lists.size(comment.voter) > 0}"
                        th:text="|+${#lists.size(comment.voter)}|">
                    </span>
                    <!-- 댓글 내용 -->
                    <span style="white-space: pre-line;" class="comment-content" th:text="${comment.content}"></span>
                    <span>
                        -
                        <!-- 댓글 작성자 -->
                        <a class="author-link text-success" th:text="${comment.author.username}"></a>님, 
                        <label th:text="${#temporals.format(comment.createDate, 'yyyy년 MM월 dd일 HH:mm')}"></label>
                    </span>
                    <a href="javascript:void(0);" class="recommend small"
                    th:data-uri="@{|/comment/vote/${comment.id}/${paging.number}|}">
                    추천
                </a>
                </div>
            </div> 
            <!--  댓글 반복 끝 -->
            <!-- 댓글 작성 -->
            <div class="my-2 alert alert-warning" style="display:none;" th:id="|comment_login_${answer.id}|">
                <small>댓글 작성은 로그인이 필요합니다.</small>
            </div>
            <div class="my-2" th:id="|comment_${answer.id}|" style="display:none;">
                <form class="my-4" method="post" th:action="@{|/comment/create/${answer.id}/${paging.number}|}">
                    <div class="comment-buttons">
                        <textarea name="content" class="form-control" style="font-size:0.9em;"></textarea>
                        <input type="submit" value="댓글저장" class="btn btn-sm btn-secondary py-0" style="font-size:0.7em;">
                    </div>
                </form>
            </div>
            <!-- 댓글 작성 끝 -->
        </div>
    </div>
    <!-- 답변 반복 끝 -->
    <!-- 답변 작성 -->
    <form th:action="@{|/answer/create/${question.id}/${paging.totalPages-1}|}" th:object="${answerForm}" method="post" class="my-3">
        <div th:replace="form_errors :: formErrorsFragment"></div>
        <textarea sec:authorize="isAnonymous()" disabled
            th:field="*{content}" rows="10" class="form-control"></textarea>
        <textarea sec:authorize="isAuthenticated()"
            th:field="*{content}" rows="10" class="form-control"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
    <!--답변 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0);" th:data-page="${paging.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <input type="hidden" id="page" name="page" th:value="${page}">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0);" th:data-page="${paging.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if (confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        }
    });
});
const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if (confirm("정말로 추천하시겠습니까?")) {
            location.href = this.dataset.uri;
        }
    });
});
const comment_elements = document.getElementsByClassName("comment");
let checked = true;
let display = "block";

Array.from(comment_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        const comment_id = document.getElementById("comment_"+this.id);
        if(checked) {
            display = "block";
        } else {
            display = "none";
        }
        comment_id.style.display = display;
        checked = !checked;
    });
});
</script>
</html>